fastapi>=0.95.0 
uvicorn>=0.20.0 
python-jose[cryptography]>=3.3.0 
passlib[bcrypt]>=1.7.4 
python-multipart>=0.0.5 
pydantic[email]>=1.10.0

aiosmtplib 
email-validator 
google-auth


python-dotenv
langchain
langgraph
langchain_xai
pydantic
PyJWT